.homeBanner {
    background-color: #ea2121; /* Example: Different color, blue */
    color: white;
    text-align: center;
    padding: 14px 20px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.homeContainer {
    /* New styles for the Home page container */
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 48px); /* 48px is roughly the height of the homeBanner */
}

.logoutButton {
    position: absolute;
    right: 5px;
    top: 10px;
}


.createPostButton {
    position: absolute;
    left: 5px;
    top: 10px;
}

