
.top-bar {
    background-color: #007bff; 
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin-left: 20px; 
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
    text-decoration: none; 
  }
  
  
  .title {
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
  }
  
  
  .first-content {
    background-color: #4f4bbc; 
    padding: 300px;
    bottom: 0;
    right: 600;
  }

  