.postContainer {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.commentContainer {
  border-left: 3px solid #ccc;
  margin-left: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

.replyContainer {
  border-left: 3px solid #ccc; /* Light green border for replies */
  margin-left: 10px;
  padding-left: 10px;
  margin-top: 10px;
  background-color: #f4f4f4;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  margin-top: 10px;
}

.buttonContainer > *:not(:last-child) {
  margin-right: 5px; /* Adjust the right margin as needed */
}


.commentsLabel {
  font-weight: bold;
}

.spaceAfterComments {
  margin-bottom: 50px;
}

/* Additional styles for buttons, icons, and other elements as needed */
.userAndFollow {
  display: flex;
  align-items: center;
  gap: 10px; /* Adding a gap of 10px between elements */
}