.postContainer {
  border: 10px solid #c33dd0;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  margin-bottom: 10px;
}

.commentContainer {
  border: 10px solid #FFA500; /* This creates a light grey outline */
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px; /* Optional: if you want rounded corners */
}