body, html {
    margin: 0;
    padding: 0;
    background-color: purple; /* Set the background color for the entire page */
}

.mainLayout {
    /* Removed flex display to avoid vertical stretching */
    padding: 0; /* Removed padding that might cause gaps */
    margin: 0 auto; /* Center the layout without adding vertical space */
    width: 100%;
    box-sizing: border-box;
}

.signInContainer {
    max-width: 660px;
    margin: 0 auto; /* Remove top margin to ensure it sits directly below the banner */
    padding: 10px; /* Padding inside the container */
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* If there is still a gap, make sure padding-top of the first child inside the container is 0 */
}




.signInBanner {
    background-color: #d43c1a; /* Adjusted color */
    color: white;
    text-align: center;
    padding: 14px 20px; /* Ensure padding matches homeBanner exactly */
    font-weight: bold;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 0; /* Ensure there's no margin pushing the container down */
}

.mainLayout {
    padding: 0; /* Remove padding if it's pushing content away from the banner */
    margin: 0 auto; /* Center the layout without adding vertical space */
    width: 100%;
    box-sizing: border-box;
    /* Remove height adjustment if it's not necessary */
}


.signInButton {
    position: absolute;
    top: 7px;
    right: 4px
}